<!DOCTYPE html>
<html lang="en">
<head>

  <style>
    th {
        cursor: pointer;
        background-color: coral;
      }
    </style>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<script src="https://www.w3schools.com/lib/w3.js"></script>
<link href="https://www.w3schools.com/w3css/4/w3.css" rel="stylesheet" />

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


</head>
<body style="background-color:lightblue;">

  {%if filt%}
  <center><h1 color="blue"><b>All Ticket</b></h1></center><br>

<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        
        <div class="table-responsive">

                
              <table  border ='1' id="usersTable" class="table table-bordred table-striped">
                   
                   <thead style="background-color:grey;">
                   
                   <th> </th>
                   <th>Ticket Id</th>
                   <th>Priority</th>
                   <th>IssueType</th>
                   <th>Status</th>
                   <th>Date And Time</th>
                   <th>Action</th>
                   </thead>
                   
                   <tbody> 
                    {%for x in data%}
                    {%if x.priority == priority%}
                     {%if x.status == status%}
                    
                  <tr class="item">
                    <td><input type="checkbox" class="checkthis" /></td>
                    <td>{{x.ticket_id}}</td>
                    <td>{{x.priority}}</td> 
                    <td>{{x.issueType}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.dateTime}}</td>
                    <td> <form action="delete" method="post"> {% csrf_token %} <button type="button" value="view" name=""> <a href="{% url 'view1' id=x.id %}">View</a> </button> <button type="submit" value="{{x.id}}" name="delete">Cancel</button>  </form> </td>
                  </tr>
                      {%endif%}
                     {%endif%}
                  {%endfor%}
                  
                
                  </tbody>    
</table>

<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
                
            </div>
            
        </div>
	</div>
</div>


{% comment %} <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
        
        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
    
    
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
       
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div> {% endcomment %}





    {%elif userData%}
<center><h1 color="blue"><b>All Ticket</b></h1></center><br>
<center>
<label>
  Search:<input type="text" id="Search" onkeyup="myFunction()" placeholder="">
</label>
</center>


<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        
        <div class="table-responsive">

                
              <table   id="usersTable" class="table table-bordred table-striped">
                   
                   <thead style="background-color:grey;">
                   
                   <th> </th>
                   <th>Ticket Id</th>
                   <th>Priority</th>
                   <th>IssueType</th>
                   <th>Status</th>
                   <th>Date And Time</th>
                   <th>Action</th>
                   </thead>
                   
                   <tbody> 
                    
                  {%for x in data%}
                  <tr class="item">
                    <td><input type="checkbox" class="checkthis" /></td>
                    <td>{{x.ticket_id}}</td>
                   <td>{{x.priority}}</td> 
                    <td>{{x.issueType}}</td>
                    <td>{{x.status}}</td>
                    <td>{{x.dateTime}}</td>
                    <td> <form action="delete" method="post"> {% csrf_token %} <button type="button" value="view" name=""> <a href="{% url 'view1' id=x.id %}">View</a> </button> <button type="submit" value="{{x.id}}" name="delete">Cancel</button>  </form> </td>
                   
                  {%endfor%}                  
                  
                
                  </tbody>    
</table>


<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
                
            </div>
            <div id="outerDiv"></div>
                  <center><a href="filter">
                    <button type="button" class="btn btn-danger" >Filter</button>
                   </a></center>

            
        </div>
	</div>
</div>

{% comment %} 
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
        
        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
    
    
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
       
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div> {% endcomment %}
    {%else%}

<center><h1 color="blue"><b>My Tickets</b></h1></center><br>

<div class="container">
	<div class="row">
		
        
        <div class="col-md-12">
        
        <div class="table-responsive">

                
              <table  border ='1' id="usersTable" class="table table-bordred table-striped">
                   
                   <thead style="background-color:grey;">
                   <tr>
                   <th> </th>
                   <th>Ticket Id</th>
                   <th>Priority</th>
                   <th>IssueType</th>
                   <th>Status</th>
                   <th>Date And Time</th>
                   <th>Action</th>
                   <tr>
                   </thead>
                   
                   <tbody> 
                    {%for x in data%}

                     {%if user.id == x.appli_id %}
                    <tr class="item">
                    <td><input type="checkbox" class="checkthis" /></td>
                     <td>{{x.ticket_id}}</td>
                     <td>{{x.priority}}</td> 
                      <td>{{x.issueType}}</td>
                      <td>{{x.status}}</td>
                      <td>{{x.dateTime}}</td>
                      <td> <form action="delete" method="post"> {% csrf_token %} <button type="button" value="view" name=""> <a href="{% url 'view' id=x.id %}">View</a> </button> <button type="submit" value="{{x.id}}" name="delete">delete</button>  </form> </td>
                    </tr>
                     {%endif%}

                  {%endfor%}
                  
                
                  </tbody>    
</table>

<div class="clearfix"></div>
<ul class="pagination pull-right">
  <li class="disabled"><a href="#"><span class="glyphicon glyphicon-chevron-left"></span></a></li>
  <li class="active"><a href="#">1</a></li>
  <li><a href="#">2</a></li>
  <li><a href="#">3</a></li>
  <li><a href="#">4</a></li>
  <li><a href="#">5</a></li>
  <li><a href="#"><span class="glyphicon glyphicon-chevron-right"></span></a></li>
</ul>
                
            </div>
            
        </div>
	</div>
</div>


{% comment %} <div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Edit Your Detail</h4>
      </div>
          <div class="modal-body">
          <div class="form-group">
        <input class="form-control " type="text" placeholder="Mohsin">
        </div>
        <div class="form-group">
        
        <input class="form-control " type="text" placeholder="Irshad">
        </div>
        <div class="form-group">
        <textarea rows="2" class="form-control" placeholder="CB 106/107 Street # 11 Wah Cantt Islamabad Pakistan"></textarea>
    
        
        </div>
      </div>
          <div class="modal-footer ">
        <button type="button" class="btn btn-warning btn-lg" style="width: 100%;"><span class="glyphicon glyphicon-ok-sign"></span> Update</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div>
    
    
    
    <div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="edit" aria-hidden="true">
      <div class="modal-dialog">
    <div class="modal-content">
          <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span></button>
        <h4 class="modal-title custom_align" id="Heading">Delete this entry</h4>
      </div>
          <div class="modal-body">
       
       <div class="alert alert-danger"><span class="glyphicon glyphicon-warning-sign"></span> Are you sure you want to delete this Record?</div>
       
      </div>
        <div class="modal-footer ">
        <button type="button" class="btn btn-success" ><span class="glyphicon glyphicon-ok-sign"></span> Yes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span> No</button>
      </div>
        </div>
    <!-- /.modal-content --> 
  </div>
      <!-- /.modal-dialog --> 
    </div> {% endcomment %}
    {%endif%}
    <script>

    document.addEventListener("DOMContentLoaded", () => {

      document.querySelectorAll(".search-input").forEach(inputField => {
      const tableRows = inputField.closest("usersTable").querySelectorAll("tbody tr"); 
      const headerCell =inputField.closest("th");
      const otherHeaderCells = inputField.closest("tr").querySelectorAll("th"); 
      const columnIndex= Array.from(otherHeaderCells).indexOf(headerCell); 
      const searchableCells = Array.from(tableRows) 
            .map(row => row.querySelectorAll("td") [columnIndex]);

      inputField.addEventListener("input", () => { 
         const searchQuery= inputField.value.toLowerCase();
      
       for (const tableCell of searchableCells){
         const row = tableCell.closest("tr"); 
         const value tableCell.textContent
               .toLowerCase()
               .replace(",","");
          row.style.visibility=null;
          if(value.search(searchQuery)==-1){
            row.style.visibility=="collapse";
          }
        }
      });
    });
  });
</script>
      
    
      
      
    <script>
      function myFunction() {
          // Declare variables
          var input, filter, table, tr, td, i ;
input = document.getElementById("Search");
filter = input.value.toUpperCase();
table = document.getElementById("usersTable");
tr = table.getElementsByTagName("tr"),
th = table.getElementsByTagName("th");

// Loop through all table rows, and hide those who don't match the        search query
for (i = 1; i < tr.length; i++) {
            tr[i].style.display = "none";
            for(var j=0; j<th.length; j++){
        td = tr[i].getElementsByTagName("td")[j];      
        if (td) {
            if (td.innerHTML.toUpperCase().indexOf(filter.toUpperCase()) > -1)                               {
                tr[i].style.display = "";
                break;
            }
        }
    }
}
  
      }</script>


    <script>
      let tid = "#usersTable";
  let headers = document.querySelectorAll(tid + " th");
  
  // Sort the table element when clicking on the table headers
  headers.forEach(function(element, i) {
    element.addEventListener("click", function() {
      w3.sortHTML(tid, ".item", "td:nth-child(" + (i + 1) + ")");
    });
  });
  </script>
      
</body>
    {% comment %} <script>
        $(document).ready(function(){
            $("#mytable #checkall").click(function () {
                    if ($("#mytable #checkall").is(':checked')) {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", true);
                        });
            
                    } else {
                        $("#mytable input[type=checkbox]").each(function () {
                            $(this).prop("checked", false);
                        });
                    }
                });
                
                $("[data-toggle=tooltip]").tooltip();
            });
        </script>            
    {% endcomment %}
    </html>