<html>
    <head>
         <title>My tickets</title>
    </head>
   <body>


<div class="main-content-inner">
    <!-- page title area end -->
    <div class="main-content-inner">
        <div class="container">
            <div class="row">
                <!-- Primary table start -->
                <div class="col-12 mt-5">
                    <div class="card">
                        <div class="card-body ticket-body">
                            <h4 class="header-title">Tickets</h4>
                            <a role="button" class="btn btn-success mb-3" id="new-ticket" href="add/"><i class="fa fa-plus-square"></i> New Ticket</a>
                            <div class="data-tables datatable-primary">
                                <table id="dataTable2" class="text-center" style="width: 100% !important">
                                    <thead class="text-capitalize">
                                        <tr>
                                            <th>Create Time</th>
                                            {% if is_support %}
                                            <th>Owner</th>
                                            {% endif %}
                                            <th>Title</th>
                                            <th>State</th>
                                            <th>Last Update</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for x in object_list %}
                                        <tr>
                                            <td>{{ x.dateTime }}</td>
                                            {% if is_support %}
                                            <td>{{ x.creator }}</td>
                                            {% endif %}
                                            <td>{{ x.title }}</td>
                                            {% if x.state == "Waiting for response" %}
                                                <td><span class="badge badge-warning" style="font-size:100%">{{ x.state }}</span></td>
                                            {% elif x.state == "Answered" %}
                                                <td><span class="badge badge-success" style="font-size:100%">{{ x.state }}</span></td>
                                            {% else %}
                                                <td><span class="badge badge-secondary" style="font-size:100%">{{ x.state }}</span></td>
                                            {% endif %}
                                            <td>{{ x.lastUpdate }}</td>
                                            <td><a class="btn btn-outline-primary mb-3" href="{% url 'ticket details' ticket_id=x.id %}" role="button">View</a></td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Primary table end -->
            </div>
        </div>
    </div>
</div>
</body>
</html>